@page "/Movies"
@using ApiContract
@using Entities
@using RepositoryContracts
@inject IMovieRepository MovieRepo
@inject IMovieService MovieService
@inject JwtHttpClientHandler JwtHandler

@inject NavigationManager Nav



<h3>MovieList</h3>

@if (movies == null)
{
    <p>Henter Film...</p>
}
else if (!movies.Any())
{
    <p>Ingen film fundet.</p>
}

else
{
    <div class="container my-4">
        <div class="row row-cols-1 row-cols-lg-2 g-4">
            @foreach (var movie in movies)
            {
                <div class="col">
                    <div class="card h-100 movie-card shadow-sm">
                        <div class="row g-0 h-100">
                            <!-- Plakat -->
                            <div class="col-md-4 col-lg-5">
                                <a @onclick="@(() => GoToMovieDetails(movie.MovieId))">
                                    <img src="@GetPoster(movie)"
                                         class="img-fluid movie-poster"
                                         alt="@movie.MovieTitle"/>
                                </a>
                            </div>

                            <!-- Tekst -->
                            <div class="col-md-8 col-lg-7">
                                <div class="card-body d-flex flex-column justify-content-between">
                                    <div>
                                        <h2 class="card-title">@movie.MovieTitle</h2>
                                        <p><strong>Release Date: </strong> @movie.ReleaseDate</p>
                                        <p><strong>Genre: </strong> @movie.Genre</p>
                                        <p><strong>Spilletid: </strong> @movie.DurationMinutes min</p>
                                        <p>@movie.description</p>
                                    </div>

                                    <div class="text-end mt-3">
                                        <button class="btn btn-primary movie-details-btn"
                                                @onclick="@(() => GoToMovieDetails(movie.MovieId))">
                                            Se detaljer
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
}

@code {
    private IEnumerable<MovieDto>? movies;
    
    /// <summary>
    /// on component initialization, fetch all movies
    /// </summary>

    protected override async Task OnInitializedAsync()
    {
        movies = await MovieService.GetAllMoviesAsync();
    }
    /// <summary>
    /// gets the poster URL for a movie
    /// </summary>
    /// <param name="movie"></param>
    /// <returns></returns>

    private string GetPoster(MovieDto movie)
    {
        return movie.poster_Url;
    }
    
    /// <summary>
    /// go to movie details page for the given movie ID
    /// </summary>
    /// <param name="movieId"></param>
    
    private void GoToMovieDetails(int movieId)
    {
        Nav.NavigateTo($"/MovieDetails/{movieId}");
    }
    /// <summary>
    /// On after render, mark the JWT handler as ready on first render
    /// </summary>
    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            JwtHandler.MarkJsReady();
        }
    }

}