@page "/order/{screeningId:int}/"
@using System.Security.Claims
@using BlazorApp1.Components.Layout
@using BlazorApp1.Services
@using Entities
@using Microsoft.AspNetCore.Authorization

@inject AuthenticationStateProvider AuthenticationStateProvider
@using Microsoft.AspNetCore.Components.Authorization
@inject BlazorApp1.Services.TokenAuthenticationStateProvider TokenProvider
@inject IScreeningService ScreeningService

@inject IJSRuntime Js
@using RepositoryContracts
@inject IScreeningRepository ScreeningRepo
@inject NavigationManager Nav
@layout AuthorizedLayout


@if (isLoading)
{
    <p><strong>Loading...</strong></p>
}
else if (screening == null)
{
    <p><strong>Filmvisning ikke fundet</strong></p>
}
else
{
    <!--  Film Poster og info  -->
    <div class="order-header">
        <div class="container py-4">
            <div class="order-header-inner">
                <!-- Poster -->
                <img src="@GetPoster(screening.movie)" alt="@screening.movie.MovieTitle"
                     class="img-fluid rounded shadow-sm order-poster"/>
                <!-- Info -->
                <div>
                    <h2 class="mb-3">@screening.movie.MovieTitle</h2>

                    <p class="mb-1">
                        <strong>
                            @screening.date.ToString("d. MMMM yyyy") kl. @screening.startTime.ToString("HH':'mm")
                        </strong>
                    </p>

                    <p class="mb-1">
                        <strong>Sal: @screening.hallId</strong>
                    </p>

                    <p class="mb-1">
                        <strong>
                            Genre: @screening.movie.Genre
                        </strong>
                    </p>

                    <p class="mb-1">
                        Varighed: @screening.movie.DurationMinutes min
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- Legend -->
    <div class="legend">
        <div class="legend-item">
            <span class="legend-color available"></span> Ledig
        </div>
        <div class="legend-item">
            <span class="legend-color selected"></span> Valgt
        </div>
        <div class="legend-item">
            <span class="legend-color booked"></span> Optaget
        </div>
        <div class="legend-item">
            <span class="legend-color showBooked"></span> Dine bookede sæder
        </div>
    </div>

    <!-- Sal/sæder -->
    <div class="hall-container">
        <div class="screen">Lærred</div>

        <div class="hall">
            @foreach (var rowGroup in seat
                          .GroupBy(s => s.Number)
                          .OrderBy(g => g.Key))
            {
                <div class="seat-row">
                    @foreach (var s in rowGroup.OrderBy(s => s.Row))
                    {
                        <button class="@GetSeatCss(s)"
                                @onclick="() => ToggleSeat(s)">@s.Row @s.Number</button>
                        //<button class="seat">@s.Row @s.Number</button>
                    }
                </div>
            }
        </div>

        <!-- vælg sæder -->
        @if (selectedSeats.Any())
        {
            <div class="selected-info">
                <strong>Valgt sæder: </strong>
                @string.Join(", ", selectedSeats.Select(s => $"{s.Row}{s.Number}"))
            </div>
        }

    </div>

    <!--Info om valgte sæder + pris -->

    <div class="selection-info">
        <p>
            @if (!selectedSeats.Any())
            {
                <span>Ingen sæder valgt</span>
            }
            else
            {
                <span>@string.Join(", ", selectedSeats.Select(s => $"{s.Row}{s.Number}"))</span>
            }
        </p>
        <p>
            <strong>Pris: </strong>
            @TotalPrice.ToString("0.00") DKK
        </p>
        @if (myBookedSeats is null)
        {
            <button class="btn btn-success"
                    disabled="@(!selectedSeats.Any())"
                    @onclick="ConfirmSelection">
                Bekræft valg
            </button>
        }
        else
        {
            <button class="btn btn-success"
                    disabled="@(!selectedSeats.Any())"
                    @onclick="AskForConfirmation">
                Opdater booking
            </button>
        }
    </div>

    @if (showConfirmPopup)
    {
        <div class="modal fade show d-block" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">

                    <div class="modal-header bg-primary text-white">
                        <h5 class="modal-title">Bekræft bestilling</h5>
                    </div>

                    <div class="modal-body">
                        <p>Er du sikker på, at du vil bestille disse sæder?</p>
                    </div>

                    <div class="modal-footer">
                        <button class="btn btn-secondary" @onclick="CancelOrder">Annuller</button>
                        <button class="btn btn-success" @onclick="ConfirmOrder">Bekræft</button>
                    </div>

                </div>
            </div>
        </div>

        <div class="modal-backdrop fade show"></div>
    }


    @code
    {
        [Parameter] public int screeningId { get; set; }
        private bool showConfirmPopup = false;
        private bool isLoading = true;
        private Screening? screening;

        private List<Seat> seat;
        private readonly List<Seat> selectedSeats = new();

        private  List<Seat> myBookedSeats = new();
        
        private HashSet<int> selectedSeatIds = new();
        private const decimal TicketPrice = 110m;

        private string userPhone;
        
        private string? errorMessage;
        private string? successMessage;
        
        private decimal TotalPrice => selectedSeats.Count * TicketPrice;

        protected override async Task OnInitializedAsync()
        {
            
            var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
            var user = authState.User;
            userPhone = user.FindFirst("Phone")?.Value;
            
            isLoading = true;
            try
            {
                screening = await ScreeningRepo.getSingleAsync(screeningId);
                seat = screening.hall.Seats;
                mySeats();
            }
            finally
            {
                isLoading = false;
            }
        }

        private void ToggleSeat(Seat s)
        {
            if (userPhone == null) return;

            // Andre brugers sæder må ikke klikkes
            if (s.IsBooked && s.Customer?.Phone != userPhone)
                return;

            if (selectedSeats.Contains(s))
                selectedSeats.Remove(s);
            else
                selectedSeats.Add(s);
        }

        private string GetSeatCss(Seat s)
        {
            var classes = new List<string> { "seat" };
            if (myBookedSeats.Any(x => x.id == s.id))
            {
                classes.Add("mybooked");
                return string.Join(" ", classes);
            }
            if (s.IsBooked)
            {
                classes.Add("booked");
            }
            else
            {
                classes.Add("available");
                if (selectedSeats.Contains(s))
                    classes.Add("selected");
            }

            return string.Join(" ", classes);
        }

        private string GetPoster(Movie movie)
        {
            var fileName = movie.MovieTitle
                .ToLower()
                .Replace(" ", "-") + ".png";

            return $"images/posters/{fileName}";
        }

        private async Task ConfirmSelection()
        {
            if (!selectedSeats.Any())
            {
                errorMessage = "Ingen sæder valgt.";
                return;
            }

            var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
            var user = authState.User;
            var phone = user.FindFirst("Phone")?.Value;
            if (phone == null)
            {
                errorMessage = "Du skal være logget ind for at booke sæder.";
                return;
            }

            try
            {
                var seatIdsToBook = selectedSeats.Select(s => s.id).ToList();
                
                await ScreeningRepo.BookSeatsAsync(screeningId, seatIdsToBook, phone);

                foreach (var s in selectedSeats)
                {
                    s.IsBooked = true;
                }

                selectedSeats.Clear();

                successMessage = "Sæderne er blevet booket succesfuldt.";
            }
            catch (Exception ex)
            {
                errorMessage = $"Fejl ved booking af sæder: {ex.Message}";
            }
        }
        
        private async Task UpdateSeatBookingStatus()
        {
            var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
            var user = authState.User;
            var phone = user.FindFirst("Phone")?.Value;
            
            var orginalSeatIds = myBookedSeats.Select(s => s.id).ToHashSet();
            var newseatIds = selectedSeats.Select(s => s.id).ToHashSet();
            
            
            
            var seatIdsToAdd = newseatIds.Except(orginalSeatIds).ToList();
            
            var seatIdsToRemove = orginalSeatIds.Except(newseatIds).ToList();
            await ScreeningRepo.UpdateBookingAsync(screeningId, phone, seatIdsToAdd, seatIdsToRemove);
            


        }

        private async void mySeats()
        {
            var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
            var user = authState.User;

            // Hent phone-claim
            var phone = user.FindFirst("phone")?.Value;
            foreach (var seat in seat)
            {
                if (seat.IsBooked)
                {
                    if (seat.Customer.Phone == phone)
                    {
                        myBookedSeats.Add(seat);
                    }
                    
                }
            }
            
            {
            }
        }

        private async Task Logout()
        {
            await Js.InvokeVoidAsync("localStorage.removeItem", "jwt");
            await TokenProvider.SignOut();
            Nav.NavigateTo("/login", true);
        }
        
        private void AskForConfirmation()
        {
            showConfirmPopup = true;
        }

        private void CancelOrder()
        {
            showConfirmPopup = false;
        }

        private async Task ConfirmOrder()
        {
            showConfirmPopup = false;

            if (string.IsNullOrWhiteSpace(userPhone))
            {
                errorMessage = "Telefonnummer mangler – er du logget ind?";
                return;
            }

            var seatIds = selectedSeats.Select(s => s.id).ToList();

            await ScreeningService.BookSeatsAsync(
                screeningId,
                seatIds,
                userPhone
            );

           
            string orderNumber = Guid.NewGuid().ToString("N")[..8].ToUpper();

            // Redirect til bekræftelsesside
            Nav.NavigateTo($"/order-confirmation/{orderNumber}/{screeningId}");
        }


    }
}